a {
  text-align:center;
  vertical-align: middle;
  color: white;
  font-family: myFirstFont;
  font-size: 32px;
}

h1{
  text-align:center;
  color: #cc0000;
  font-family: myFirstFont;
  font-size: 72px;
  animation-duration: 5s;
}

body{
  background-image: url("background2.jpg");
  background-size: cover;
  width:auto; height:auto;
  background-repeat: no-repeat;
  background-color: black;
  text-align:center;
  margin:auto;
  padding: 350px;
}

div{
  display: inline;
  width: 250px;
  height: 200px;
  padding: 10px;
  border: 3px hidden #cc0000;
  vertical-align: middle;
  text-align: center;
  background-image: url("Site1Button.jpg")
}

@font-face {
  font-family: myFirstFont;
  src: url(fonts/Brushers-Hands.otf);
  font-weight: bold;
}

@media only screen and (device-width: 1280px),
only screen and (max-width:1280px) {
.css-element {

}

}
