body{
    background-color: black;
    margin:auto;
    padding: 50 px;
    color: white;
  }

div{
  width: 50vw;
  margin: 50px auto;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

li{
  color: red;
}
