*{
  box-sizing: border-box;
}

body{
    background-color: #ffe900;
    margin: auto;
    padding: 50 px;
    color: black;
  }

main{
  width: 50vw;
  margin: 50px auto;
}

h1,h2,li{
  font-family: 'Pacifico', cursive;
}

p{
  font-family: 'Quicksand', sans-serif;
}

h1{
  text-align: left;
  font-size: 38px;
}

h2{
  text-align: center;
}

li{
  color: black;
}

@media only screen and (min-width: 600px) {
  body {
    background-color: black;
  }
  h1,h2,li,p{
    color: white;
    font-family: 'VT323', monospace;
  }
  h1{
    font-size: 72px;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: white;
  }

  h1,h2,li,p{
    color: black;
    font-family: 'Roboto', sans-serif;
  }

  h1{
    font-size: 92px;
  }
}
