body{
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

h1{
  margin: 0;
  padding: 40vh 0 0 0;
  text-align: center;
  font-family: sans-serif;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 5em;
  font-family: 'Noto Sans JP', sans-serif;
  transition: all 2s ease;
}

.full{
  width: 100vw;
  height: 100vh;
}

#list-name{
  background-color: skyblue;
}

#hat5{
  background-color: grey;
  transition: all 2s ease;
}

#hat4{
  background-color: #ffff66;
  color: #ffff66;
  transition: all 2s ease;
}

#hat3{
  background-color: #ff3333;
  transition: all 2s ease;
}

#hat2{
  background-color: #4db8ff;
  font-family: sans-serif;
  transition: all 2s ease;
}

#hat1{
  background-color: #00cc99;
  transition: all 2s ease;
}

#number5{
  cursor: pointer;
}

#number4{
  cursor: pointer;
}

#number3{
  cursor: pointer;
}

#number2{
  cursor: pointer;
}

#number1{
  cursor: pointer;
}

.darkfont{
  color: black;
}

.black{
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.hat1{
  background-color: black;
  width: 0vw;
  height: 100vh;
}
