*{
  box-sizing: border-box;
}

body{
  background-color: white;
  margin: 0;
}

.HeaderPicture{
  background-image: url("../pictures/headerpic.png");
  background-repeat: no-repeat;
  height: 59.4vw;
  background-color: black;
  background-size: 100%;
}

.HumanSpaceFlightText{
  background-image: url("../pictures/HumanSpaceFlight.png");
  background-repeat: no-repeat;
  height: 25vw;
  background-color: black;
  background-size: 100%;
}

.HumanSpaceFlightPic{

}

.ColdWarAviationText{

}

.ColdWarAviationPic{

}

.AppSatellitesText{

}

.AppSatellitesPic{

}


@media only screen and (min-width: 1200px) {
  body{
    background-color: white;
    margin: 0;
  }

  .HeaderPicture{
    background-image: url("../pictures/headerpic.png");
    background-repeat: no-repeat;
    height: auto 0;
    background-size: 100%;
  }

}
