*{
  box-sizing: border-box;
}

body{
  background-color: white;
  margin: 0;
}

p{
  margin-left: 5vw;
  margin-right: 5vw;
  font-family: alte;
  font-size: 18pt;
  padding-bottom: 2vw;
}

br{
  display: block;
  content:"";
  margin-top:0;
}

.HeaderPicture{
  background-image: url("../pictures/headerpic.png");
  background-repeat: no-repeat;
  height: 54vw;
  background-color: black;
  background-size: 100%;
}

.HumanSpaceFlightHeader{
  background-image: url("../pictures/header1.png");
  background-repeat: no-repeat;
  height: 24.5vw;
  background-color: black;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vw;
}

.HumanSpaceFlightText{

}

.HumanSpaceFlightPic{
  background-image: url("../pictures/DSC_0147.png");
  background-repeat: no-repeat;
  height: 59.4vw;
  background-color: black;
  background-size: 100%;
}

.ColdWarAviationHeader{
  background-image: url("../pictures/header2.png");
  background-repeat: no-repeat;
  height: 24.5vw;
  background-color: black;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vw;
}

.ColdWarAviationText{

}

.ColdWarAviationPic{
  background-image: url("../pictures/DSC_0077.png");
  background-repeat: no-repeat;
  height: 59.4vw;
  background-color: black;
  background-size: 100%;
}

.AppSatellitesHeader{
  background-image: url("../pictures/header3.png");
  background-repeat: no-repeat;
  height: 24.5vw;
  background-color: black;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vw;
}

.AppSatellitesText{

}

.AppSatellitesPic{
  background-image: url("../pictures/DSC_0167.png");
  background-repeat: no-repeat;
  height: 59.4vw;
  background-color: black;
  background-size: 100%;
}

@media only screen and (min-width: 768px){
  body{
    background-color: white;
    margin: 0;
  }

  .HumanSpaceFlightText, .ColdWarAviationText, .AppSatellitesText{
    font-size: 16pt;
  }

  .HeaderPicture{
    background-image: url("../pictures/headerpic.png");
    background-repeat: no-repeat;
    height: 59vw;
    background-color: white;
    background-size: 100%;
  }

  .HumanSpaceFlightHeader{
    background-color: white;
    background-size: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
  }

  .HumanSpaceFlightText{
  }

  .HumanSpaceFlightPic{

  }

  .ColdWarAviationHeader{
    background-color: white;
    background-size: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
  }

  .ColdWarAviationText{
  }

  .ColdWarAviationPic{

  }

  .AppSatellitesHeader{
    background-color: white;
    background-size: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
  }

  .AppSatellitesText{
  }

  .AppSatellitesPic{

  }

}

@media only screen and (min-width: 896px){

}

@media only screen and (min-width: 1025px) {
  body{
    background-color: white;
    margin: 0;
  }

  .HumanSpaceFlightText, .ColdWarAviationText, .AppSatellitesText{
    font-size: 18pt;
  }

  .HSFContainer{
    display: block;
    width: 60%;
    background-color: white;
    float: left;
  }

  .CWAContainer{
    display: block;
    width: 60%;
    background-color: white;
    float: right;
  }

  .ASContainer{
    display: block;
    width: 60%;
    background-color: white;
    float: left;
  }

  .HeaderPicture{
  }

  .HumanSpaceFlightHeader{
    display: block;
    width: 35vw;
    height: 8vw;
    margin-left: 0;
    margin-top: 2vw;
  }

  .HumanSpaceFlightText{
    display: block;
  }

  .HumanSpaceFlightPic{
    display: block;
    width: 40%;
    float: right;
    height: 26vw;
    margin-top: 5vw;
  }

  .ColdWarAviationHeader{
    display: block;
    width: 35vw;
    height: 8vw;
    margin-left: 42%;
  }

  .ColdWarAviationText{
    display: block;
  }

  .ColdWarAviationPic{
    display: block;
    width: 40%;
    float: left;
    height: 26vw;
    margin-top: 5vw;
    margin-left: 0;
  }

  .AppSatellitesHeader{
    display: block;
    width: 35vw;
    height: 8vw;
    margin-left: 0;
    margin-top: 2vw;
  }

  .AppSatellitesText{
    display: block;
  }

  .AppSatellitesPic{
    display: block;
    width: 40%;
    float: right;
    height: 26vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
  }

}

@font-face {
  font-family: alte;
  src: url(fonts/AlteHaasGroteskRegular.ttf);
  font-weight: lighter;
}
